*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font: none;
}
#font-inter{
      font-family: "Inter", sans-serif;
  font-optical-sizing: none;
  padding-left: 160px;
  padding-right: 160px;
}
header{
    background-color: #FFFFFF;
}
nav{
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
  padding-right: 120px;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;

}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;
     cursor: pointer;
}
.btn img {
    height: 18px; /* Control the arrow size specifically */
    width: auto;
   
}
.btn-a{
     display: inline-flex;
    align-items: center;
    justify-content: center;
     cursor: pointer;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;
    
}

.btn-b{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px 16px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    font-weight: 500;
     cursor: pointer;
}
.btn-b img {
  height: 18px; 
    width: auto;
}
.btn:hover {
    background-color: navy;
    color: #30B868;
    border: 2px solid darkgreen;
}
.btn-b:hover{
    color: #30B868;
    background-color: navy;
    border: 2px solid darkgreen;
}
.btn-a:hover{
    background-color: navy;
    color: #30B868;
    border: 2px solid darkgreen;
}

#banner{
    background-image: url(./assets/hero-bg.png);
    width: auto;
    max-width: auto;
    height: 674px;
    padding-top: 100px ;
    padding-bottom: 180px;
    margin: 0 auto ;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
     padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 60px;
}
.early-content{
    width: 290px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #469165;
    margin-bottom: 16px;
    padding: 8px 12px 30px;
    margin: 0 auto;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}
.early-content img{
    height: 20px;
    width: 20px;
}
h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    
}
 h1 span{
    color: #30B868;
}
p{
      margin: 0 auto ;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 32px;
      
}
.banner-button{
    gap: 16px;
    display: flex;
    justify-content: center;
}
#bookmark{
    width: auto;
    max-width: auto;
    padding-left: 120px;
  padding-right: 120px;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   filter: drop-shadow(h-offset v-offset blur-radius color);
}
#bookmark .bookmark-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;

}
.para{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
#bookmark .card-container{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap:24px;
    width: auto;
    max-width: auto;
    padding: 20px;
    /* padding: 0 120px 120px; */
}
.card-row {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    padding:24px;
    border-radius: 5px;
    /* filter: drop-shadow(h-offset v-offset blur-radius color); */
    border: 1px solid whitesmoke;
    box-shadow:  -10px  10px 8px   #8582821f;
    width: 322px;
    height: 300px;
    /* box-sizing: border-box; */
}
.card-row a{
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   
}

 .card-row img {
    height: 30px;
    width: 30px;
    background-color: #F95555;
    border-radius: 50%;
}
.card-row h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
 }
  .solution{
        padding: 120px 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;

        
    }
     .solution-text h4{
        font-size: 16px;
        line-height: 20px;
        color: #469165;
    }
      .solution-text h2{
        font-size: 48px;
    font-weight: bold;
    color: #001931;
    }
.cheak{
    list-style: none;
}
.cheak li {

display: flex;

align-items: center;
gap: 5px;
}
    
.pre-footer{
    width: auto;
    max-width: auto;
    padding: 0 120px 120px;
}
.pre-container{
    padding: 80px 40px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #F7F6F2;
}
h3{
    font-size: 40px;
    font-weight: bold;
}
#site-footer{
    width: auto;
    max-width: auto;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    
    background-color: #001931;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.footer-logo{
    display:flex;
    align-items: center;
}
.socail{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    
}
.icons a{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
}
.hr-break{
    border: 0;
    border-top: 1px solid #ffffff1e;
    margin: 40px;
    
}
.footer-bottom{
    font-size: 16px;
    font-weight: 200;
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
}


