*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: none;
}
.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: none;
}
header{
    background-color: #FFFFFF;
    
}


nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;

}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}
.btn{
    height: 44px;
    width: 164px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.btn-a{
    height: 52px;
    width: 251px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.btn-b{
    height: 52px;
    width: 198px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

 
#banner{
    background-image: url(./assets/hero-bg.png);
    width: 71%;
    max-width: 1600px;
    height: 674px;
    padding: 115px 120px 180px;
    margin: 0 auto ;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}


.early-content{
    width: 290px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #469165;
    margin-bottom: 16px;
    padding: 8px 12px 30px;
    margin: 0 auto;
    border-radius: 60px;
    text-align: right;
    
}
/* .text-content{
    padding: 51px 170px 16px; */
   
/* }
.text-content { */
h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    
}
    

 h1 span{
    color: #30B868;
}
p{
      margin: 0 auto ;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 32px;
      
}
.banner-button{
    gap: 16px;
    display: flex;
    justify-content: center;
}